@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=Libre Franklin');

html, body, #app {
  font-family: $catenax-font, sans-serif;
}
* {
  background-repeat: no-repeat;
  box-sizing: border-box;
}
