$catenax-font: Libre Franklin;
$brand-color-green: #b3cb2d;
$brand-color-orange: #ffa600;

$grey1: #F5F5F5;
$grey2:	#E6E6E6;
$grey3: #DEDEDE;
$grey4: #BFBFBF;
$grey5: #7F7F7F;
$grey6:	#323232;
$grey7: #CCCCCC;

$cx-elevation: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important;
