.node{
  &:hover{
    .node__shape{
      fill: yellow;
      transition: fill .5s ease;
    }
  }
  &__shape{
    r: 30;
    fill: #69b3a2;
    stroke-width: 2px;
    stroke: #fff;
    transition: fill .5s ease;
  }
}
